
h3 {
  color: Green;
}
.hero {background-image: 
	url("http://media.gettyimages.com/videos/majestic-vertical-waves-loop-ocean-blue-video-id161674890?s=640x640"); 
	padding: 250px 0;
	margin: 30px;
	
}
