
h3 {
  color: Purple;
}
.hero {background-image: 
	url("http://img06.deviantart.net/224d/i/2011/046/d/4/pattern_custom_box_background_by_aamaji-d39llhs.jpg"); background-size: cover;
	padding: 250px 0;
	margin: 30px;
	
}
